/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' aqua.css
  Created: 29 August, 2006
  Last Modified: 1 September, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

/* @group GENERAL STYLES */

body {
}

p {
}

b, strong {
}

a:link, a:visited {
	color: #008f9f;
}

a:hover, a:active {
	color: #008f9f;
}

.image-left {
}

html>body .image-left {
}

.image-right {
}

html>body .image-right {
}

a img {
}

img {
}

.clear {
}

/* @end */

/* @group GLOBAL CLASSES */

blockquote, .standout {
	background-color: #EBEBEB;
	color: #008f9f;
	border: 1px solid #D1D1D1;
}

h1 {
	color: #008f9f;
}

h2 {
	color: #008f9f;
}

h3 {
	color: #008f9f;
}

h4 {
	color: #008f9f;
}

.imageStyle {
}

/* @end */


/* @group LAYOUT */

/* @group Container */

#container {
}

#topds {
}

/* @end */

/* @group  Page Header */

#pageheader {
}

#pageheader h1 {
}

#pageheader h2 {
}

#pageheader #logo {
}

#pageheaderbottom {
}

/* @end */

/* @group Bread Crumb */

#breadcrumbcontainer {
}

#breadcrumbcontainer #current {
}

#breadcrumbcontainer ul {
}

#breadcrumbcontainer li {
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {
}

/* @end */

/* @group Content Area */

#mainarea {
}

#sidebarContainer {
}

html>body #sidebarContainer {
}

#sidebar {
}

#sidebar .sideheader {
	color: #008f9f;
}

#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}

#contentContainer {
}

html>body #contentContainer {
}

#contentContainer #content {
}

html>body #contentContainer #content {
}

#innercontainer #contentContainer #content ul {
}

#innercontainer #contentContainer #content li {
}

/* Table Styles */
#innercontainer table {
}

.clearfix:after{
}


/* @end */

/* @group  Page Bottom */

#pagebottom {
}

#footer {
}

/* @end */

/* @end */


/* @group NAV MENU */

/* Nav Menu Styles */

#navcontainer {
}

#navcontainer #current {
	color: #008f9f;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
	color: #555555;
}

/* Parent - Level 0 */

#navcontainer ul {
}

#navcontainer li {
}

#navcontainer a{
	color: #555555;	
}

#navcontainer a:hover {
	background-color: #dddddd;
	color: #008f9f;
}

#navcontainer a:active {
	background-color: #dddddd;
	color: #008f9f;
}

/* Child - Level 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
	color: #555555;
}

#navcontainer ul ul a:hover{
	color: #008f9f;
}

#navcontainer ul ul #current{
	color: #008f9f;
}

#navcontainer ul ul #current:hover {
	color: #008f9f;
}

#navcontainer ul ul .currentAncestor {
	background: #eeeeee;
	color: #008f9f;
}

#navcontainer ul ul .currentAncestor:hover {
}


/* Child - Level 2 */

#navcontainer ul ul ul {

}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
	color: #555555;
}

#navcontainer ul ul ul a:hover{
	color: #008f9f;
}

#navcontainer ul ul ul #current{
	color: #008f9f;
}

/* @end */


/* @group BLOG */

/* @group Blog Entry */

.blog-entry {
}

.blog-entry-title {
	color: #008f9f;
}

.blog-entry-date {
	color: #555555;
}

.blog-read-more {
}

.blog-read-more a {
}

.blog-read-more a:hover {
}

.blog-entry-summary {	
}

.blog-entry-body {
}

.blog-entry-comments {
}

.blog-entry-comments a {
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-entry-body {
}

/* styles the archives in the blog sidebar */
#blog-archives {
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
}

a.blog-rss-link {
}

a.blog-comments-rss-link {
}


/* @end */

/* @group Blog Archive */

.blog-archive-background {
}

.blog-entry-summary {
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-headings-wrapper {
}

.blog-archive-month {
	color: #008f9f;
}

.blog-archive-link {
	color: #008f9f;
}

.blog-archive-link a:link {	
}

.blog-archive-link a:visited {
}

/* @end */

/* @end */


/* @group FILE SHARING */

.filesharing-description {
}

.filesharing-item {
}

.filesharing-item-title {
	color: #008f9f;
}

.filesharing-item-description {
}

/* @end */

/* @group PHOTO ALBUM */

/* @group Index Page (Thumbnail view) */

.album-title {
	color: #008f9f;
}

.album-description {
}

.album-wrap {
}

.thumbnail-wrap {
}

html>body .thumbnail-wrap {
}

.thumbnail-frame {
}

.thumbnail-frame a {	
}

.thumbnail-frame a:hover {	
}

.thumbnail-frame img {
}

.thumbnail-caption {
}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
}

.photo-navigation {
}

html>body .photo-navigation {
}

html>body .photo-navigation {
}

.photo-links {
}

.photo-navigation a {
}

.photo-navigation a:hover {
}

.photo-frame {
}

.photo-title {
	color: #008f9f;
}

.photo-caption {
	color: #008f9f;
}

/* @end */

/* @end */

/* @group Quicktime-Movie Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	color: #008f9f;
}

.movie-page-description {
}

.movie-thumbnail-frame {
}

html>body .movie-thumbnail-frame {
}

.movie-thumbnail-frame img {
}

.movie-thumbnail-frame a {
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
}

/* @end */

/* @group Single Page (Movie View) */

.movie-background {
}

.movie-title {
	color: #008f9f;
}

.movie-frame {
}

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-title {
	color: #008f9f;
}

.movie-description {
}

.movie-frame {
}

/* @end */


/* @group CONTACT FORM */

.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
}
 
/* @end */


