/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors' blue_top.css
  Created: 31 August, 2006
  Last Modified: 1 September, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

#pageheader {
	background: url(../../images/blueBG.jpg) top left repeat-x;
}

#pageheader h1 {
	color: #ffffff;
}

#pageheader h2 {
	color: #dddddd;
}

.photo-navigation {
	background: url(../../images/blueBG.jpg) top left repeat-x;
}

#breadcrumbcontainer {
	color: #cccccc;
}

#breadcrumbcontainer #current {
	color: #eeeeee;
}

#breadcrumbcontainer ul {
	color: #cccccc;
}

#breadcrumbcontainer li {
}

#breadcrumbcontainer a {
	color: #cccccc;
}

#breadcrumbcontainer a:hover {
	color: #eeeeee;
}