.button, figure, .box-1, .box-2, .box-3, .extra-tabs .tabs .nav li, .team-squad-box, header nav, .dropcap_1, .map-container, #contact-form input, #contact-form textarea, #login-form input, #newsletter-form input, .social-links, .button-1, .list-2, .ie-fix, #page-404 #search-alt input, #transl-form .jqTransformInputWrapper, #transl-form #jqTransformTextarea-mm textarea, .kwicks-wrapper, .sf-menu > li.first, .sf-menu > li.last {position:relative; behavior:url(js/PIE.htc);}
#text_slider div {background:none !important}
.cs-button-coin-slider {position:relative; behavior:url(js/PIE.htc)}
#advanced ul li.trigger_adv > span, #error_message{behavior:url(js/PIE.htc);position:relative}
.closebutton,.myclosebutton{behavior:url(js/PIE.htc);}
*+html{overflow:auto;}
*+html #constuction-box {margin-top:-245px;}
*+html #intro-box{margin-top:-195px;}
*+html #main-search {float:right;position: relative;}
header, .extra-tabs .tabs ul.nav, .content-list-1 li, .list-2 li, .team-squad-box figure {position:relative; zoom:1;}
.list-1 li span {
	position:absolute;
	display: none;
	background: url(../images/list-4-marker.png) no-repeat 0 0;
	left:0;
	top:7px;
	width:19px;
	height:19px;
}
*+html .list-1 li span {top:0 !important;}
.list-1 li span.lhover {display:block;}
.list-3 li span {
	position:absolute;
	display: none;
	background: url(../images/list-4-marker.png) no-repeat 0 0;
	left:0;
	top:2px;
	width:19px;
	height:19px;
}
*+html .list-3 li span {top:0 !important;}
.list-3 li span.lhover {display:block;}
*+html #transl-form input.file {margin:-2px 4px 0 0;}
.kwicks.horizontal li a.kwicks-title {background:url(../images/kwiks-title-bg.png) no-repeat 0 0;}
.kwicks.horizontal li a.kwicks-title:hover, .kwicks.horizontal li.active a.kwicks-title {background:url(../images/kwiks-title-active.png) no-repeat 0 0;}
*+html #newsletter-form input {margin:-2px 8px 0 0;}
*+html #contact-form textarea, *+html #transl-form #jqTransformTextarea-mm textarea {margin:-1px 0 0 0;}
figcaption {left:0; right:0; bottom:0;}