
.kwicks-wrapper {
	width:950px;
	margin:0 auto;
	overflow:hidden;
	background: url(../images/kwicks-content-tail.gif) repeat-x 0 0;
	border:1px solid #fff;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	box-shadow:0 0 2px #c3c1c1;
	-moz-box-shadow:0 0 2px #c3c1c1;
	-webkit-box-shadow:0 0 2px #c3c1c1;
	position:relative;
}
	
	.kwicks {
		/* recommended styles for kwicks ul container */
		list-style: none;
		position: relative;
		margin: 0;
		padding: 0 !important;
		overflow:hidden;
		height:334px;
		}
	.kwicks > li{
		/* these are required, but the values are up to you (must be pixel) */
		width: 20%;
		height: 470px;
		/*do not change these */
		display: block;
		padding: 0 !important;  /* if you need padding, do so with an inner div (or implement your own box-model hack) */
		}
	.kwicks.horizontal > li {
		/* This is optional and will be disregarded by the script.  However, it should be provided for non-JS enabled browsers. */
		margin-right: 0; /*Set to same as spacing option. */	
		float: left;
		overflow:hidden;
		background: url(../images/kwicks-content-tail.gif) repeat-x 0 0 #e6e6e6 !important;
		}
	.kwicks.horizontal li.kwicks-block1 {z-index:5;}
	.kwicks.horizontal li.kwicks-block2 {z-index:4;}
	.kwicks.horizontal li.kwicks-block3 {z-index:3;}
	.kwicks.horizontal li.kwicks-block4 {z-index:2;}
	.kwicks.horizontal li.kwicks-block5 {z-index:1;}
	.kwicks.horizontal li a.kwicks-title {
		height:100%;
		width:40px;
		float:left;
		position:relative;
		text-decoration:none;
		overflow:hidden;
		border-radius:3px;
		-moz-border-radius:3px;
		-webkit-border-radius:3px;
		background:#535353;
	}
		.kwicks.horizontal li a.kwicks-title, .kwicks.horizontal li a.kwicks-title span {background:#535353;}
		.kwicks.horizontal li a.kwicks-title span {
			display:block;
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			overflow:hidden;
			text-indent:-999em;
		}
		.kwicks.horizontal li.kwicks-block1 a.kwicks-title span {background:url(../images/kwiks-title-1-text.png) no-repeat 0 0;}
		.kwicks.horizontal li.kwicks-block2 a.kwicks-title span {background:url(../images/kwiks-title-2-text.png) no-repeat 0 0;}
		.kwicks.horizontal li.kwicks-block3 a.kwicks-title span {background:url(../images/kwiks-title-3-text.png) no-repeat 0 0;}
		.kwicks.horizontal li.kwicks-block4 a.kwicks-title span {background:url(../images/kwiks-title-4-text.png) no-repeat 0 0;}
		.kwicks.horizontal li.kwicks-block5 a.kwicks-title span {background:url(../images/kwiks-title-5-text.png) no-repeat 0 0;}
			.kwicks.horizontal li a.kwicks-title:hover, .kwicks.horizontal li.active a.kwicks-title {background:#d90011;}
		.kwicks.horizontal li .kwicks-content {
			width:740px !important;
			height:100%;
			position:absolute;
			left:40px;
			top:0;
			display:none;
		}
		.kwicks.horizontal li.active .kwicks-content {display:block;}
		.kwicks.horizontal li .kwicks-content .inner {
			padding:26px 37px 0 37px;
			overflow:hidden;
		}