.sf-menu{
	font-size:0;
	line-height:0;
	height:66px;
	padding:0;
	margin:0;
	font-weight: bold;
}
.sf-menu ul{
	position:absolute;
	top:-999em;
	width:160px;
	left:0;
	display:none;
	margin:0;
}
.sf-menu > li{
	float:left;
	position:relative;
	padding:0;
	background:url(../images/nav-separator.png) no-repeat 0 0;
	width:160px;
	background-color: #0099FF;
}
	.sf-menu > li.first {background:none; border-radius:2px 0 0 2px;}
	.sf-menu > li.last {border-radius:0 2px 2px 0;}
.sf-menu > li > a {
	text-decoration:none;
	display:block;
	text-align:center;
	font-size:18px;
	line-height:22px;
	color:#fff;
	text-transform:uppercase;
	text-shadow:1px 1px #1f1f1f;
	position:relative;
	padding:22px 0 23px 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	white-space:nowrap;
	word-spacing:-1px;
}
	.sf-menu > li.current {
	background:#89ACD0 url(../images/nav-active.gif) repeat-x 0 0 !important;
}
	.sf-menu > li:hover, .sf-menu > li.sfHover {background:url(../images/nav-active.gif) repeat-x 0 -68px #222;}
	.sf-menu > li.current a {
	text-shadow:none;
	background-color: #06F;
}
.sf-menu li:hover ul,.sf-menu li.sfHover ul{top:69px; left:0;z-index:99;}
.sf-menu li:hover li ul,ul.sf-menu li.sfHover li ul{top:-999em}
.sf-menu li.current,.sf-menu li:hover,.sf-menu li.sfHover{
	text-decoration:none;
	background-color: #000;
}
.sf-menu li li a{
	display:block;
	margin:0;
	position:relative;
	text-decoration:none;
	font-size:14px;
	line-height:18px;
	color:#fff;
	text-shadow:1px 1px rgba(0,0,0,.4);
	padding:15px 0 15px;
	text-align:center;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	overflow:hidden;
	text-transform: capitalize;
	white-space:nowrap;
	background:url(../images/sub-nav-tail.png);
}
.sf-menu li li a:hover, .sf-menu li li.sfHover > a, .sf-menu li li.current > a{background:#141514;}
.sf-menu li li{
	float:none;
	position:relative;
	padding:0;
	margin:0 0 1px 0;
	display:block;
}
.sf-menu li li:hover ul,ul.sf-menu li li.sfHover ul{left:161px;top:0px;}
		.sf-menu li li li a:hover, .sf-menu li li li.current > a {
	background:#89ACD0;
}
