/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' headeralign_left.css
  Created: 29 August, 2006
  Last Modified: 28 August, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

#pageheader h1 {
	padding: 15px 20px 0px 20px;
	text-align: left;
}

#pageheader h2 {
	padding: 10px 20px 0px 20px;
	text-align: left;
}

#pageheader #logo {
	position: absolute;
	top: 1px;
	right: 15px;
	text-align: right;
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 90px;
}

* html #pageheader #logo {
	position: absolute;
	top: 4px;
	right: 15px;
}

#breadcrumbcontainer {
	position: absolute;
	top: 84px;
	left: 48px;
	text-align: left;
}

