/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' headeralign_right.css
  Created: 29 August, 2006
  Last Modified: 28 August, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

#pageheader h1 {
	padding: 15px 20px 0px 20px;
	text-align: right;
	margin-right: 30px;
}

#pageheader h2 {
	padding: 10px 20px 0px 20px;
	margin-right: 30px;
	text-align: right;
}

#pageheader #logo {
	position: absolute;
	top: 1px;
	left: 5px;
	text-align: left;
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 90px;
}

* html #pageheader #logo {
	position: absolute;
	top: 4px;
	left: 5px;
}

/* My Comment */

#breadcrumbcontainer {
	position: absolute;
	top: 84px;
	right: 38px;
	text-align: right;
	background-color: transparent;
	height: 18px;
	padding-left: 10px;
	font-size: 11px;
	color: #eeeeee;
}




