/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' styles.css
  Created: 14 May, 2005
  Last Modified: 20 September, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

/* @group GENERAL STYLES */

body {
	font-size: 12px;
	font-family: Lucida, "Lucida Grande", "Lucida Sans Unicode", Helvetica, sans-serif;
	line-height: 19px;
	margin: 0px 10px 0px 20px;
	color: #333333;
	background: #FFFFFF;
	text-align: left;
}

p {
	margin-left: 0px;
	margin-right: 0px;
}

b, strong {
	font-weight: bold;
}

a:link, a:visited {
	color: #0303f1;
	text-decoration: underline;
}

a:hover, a:active {
	color: #0303f1;
	text-decoration: none;
}

.image-left {
	margin: 2px 4px 1px 0px;
	padding: 4px;
	float: left;
}

html>body .image-left {
	margin: 4px 8px 2px 0px;
	padding: 4px;
	float: left;
}

.image-right {
	margin: 2px 0px 1px 4px;
	padding: 4px;
	float: right;
}

html>body .image-right {
	margin: 4px 0px 2px 8px;
	padding: 4px;
	float: right;
}

a img {
	border: 0px;
}

img {
	border: 0px;
	padding: 0;
	margin: 0;
}

.clear {
	clear: both;
}

/* @end */

/* @group GLOBAL CLASSES */

blockquote, .standout {
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
	line-height: 1.5em;
	background-color: #EBEBEB;
	color: #5d953c;
	padding: 7px 10px 8px 10px;
	border: 1px solid #D1D1D1;
}

h1 {
	padding: 4px 0px 0px 0px;
	margin-top: -4px;
	padding-bottom: 2px;
	font-size: 20px;
	line-height: 1.15em;
	font-weight: bold;
	color: #0303f1;
}

h2 {
	margin-top: 4px;
	padding-top: 4px;
	padding-bottom: 2px;
	font-size: 17px;
	font-weight: bold;
	color: #0303f1;
}

h3 {
	margin-top: 4px;
	padding-top: 4px;
	padding-bottom: 0px;
	margin-bottom: -2px;
	font-size: 15px;
	font-weight: bold;
	color: #0303f1;
}

h4 {
	font-size: 13px;
	font-weight: bold;
	text-align: left;
	letter-spacing: .015em;
	color: #333333;
	padding-top: 0px;
	padding-bottom: 2px;
	margin: 0px;
}

.imageStyle {
	background: transparent;
	padding: 0px;
	margin: 0px;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* @end */


/* @group LAYOUT */

/* @group Container */

#container {
	position: relative;
	background: #ffffff;
	margin: 0px auto;
	margin-top: 10px;
	width: 800px;
	height: auto;
	background: repeat-y url(images/MiddleDS.png);
	text-align: left;
	color: #333333;
}

#topds {
	position: relative;
	left: 0px;
	margin: 0px;
	width: 800px;
	height: 22px;
	background: #ffffff url(images/TopDS.png) no-repeat;
}

/* @end */

/* @end */

/* @group  Page Header */

#pageheader {
	position: relative;
	margin-top: -6px;
	margin-left: 16px;
	margin-bottom: 6px;
	background: url(images/blueBG.jpg) top left repeat-x;
	width: 768px;
	height: 100px;
}

#pageheader h1 {
	padding: 23px 0px 3px 36px;
	font-size: 28px;
	font-weight: bold;
	line-height: .5em;
	letter-spacing: .25px;
	text-align: left;
	color: #ffffff;
	margin: 0px;
}

#pageheader h2 {
	padding: 4px 0px 0px 36px;
	font-size: 13px;
	letter-spacing: .08em;
	font-weight: normal;
	color: #dddddd;
	text-align: left;
	text-transform: uppercase;
	margin-top: 3px;
}

#pageheader #logo {
	position: absolute;
	top: 1px;
	right: 0px;
	border: 0px;
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 90px;
	z-index: 30;
}

#pageheaderbottom {
	position: relative;
	width: 768px;
	height: 40px;
	margin-left: 16px;
	margin-right: 0px;
	background-image: url(images/contenttopbgF4.jpg);
	background-repeat: no-repeat;
}

/* @end */

/* @group Bread Crumb */

#breadcrumbcontainer {
	position: absolute;
	top: 84px;
	left: 48px;
	background-color: transparent;
	height: 18px;
	padding-right: 10px;
	text-align: left;
	font-size: 11px;
	color: #eeeeee;
}

#breadcrumbcontainer #current {
	color: #ffffff;
	font-weight: bold;
}

#breadcrumbcontainer ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	padding-top: 5px;
	padding-left: 5px;
	color: #7eadd9;
}

#breadcrumbcontainer li {
	margin: 0px;
	display: inline;
}

#breadcrumbcontainer a {
	color: #7eadd9;
	text-decoration: none;
}

#breadcrumbcontainer a:hover {
	text-decoration: underline;
	color: #eeeeee;
}

/* @end */

/* @group Content Area */

#mainarea {
	margin: 0px;
	padding: 0px;
	float: none;
	position: relative;
	width: 784px;
	background-position: 16px 0px;
	height: auto;
	background-color: transparent;
	background-image: url('images/contentbgF4.jpg');
	background-repeat: repeat-y;
}

#sidebarContainer {
	float: left;
	margin-left: 8px;
	padding: 3px 0px 3px 0px;
	width: 178px;
	background-color: transparent;
	text-align: center;
	overflow: visible;
	z-index: 20;
}

html>body #sidebarContainer {
	float: left;
	margin-left: 16px;
	padding: 6px 0px 6px 0px;
	width: 178px;
	background-color: transparent;
	text-align: center;
}

#sidebar {
	line-height: 1.5em;
	padding: 8px 10px 0px 10px;
	margin: 0px 0px 8px 0px;
	text-align: left;
}

#sidebar .sideheader {
	font-weight: bold;
	margin: 0px 0px 4px 0px;
}

#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}

#contentContainer {
	float: right;
	width: 565px;
	margin-top: -3px;
	margin-right: 3px;
	z-index: 2;
}

html>body #contentContainer {
	float: right;
	width: 581px;
	margin-top: -6px;
	margin-right: 6px;
}

#contentContainer #content {
	line-height: 1.8em;
	padding: 0px;
	margin: 0px 15px 10px 9px;
	width: 532px;
}

html>body #contentContainer #content {
	margin: 0px 15px 10px 18px;
}

#innercontainer #contentContainer #content ul {
}

#innercontainer #contentContainer #content li {
}

/* Table Styles */
#innercontainer table {
	font-size: 12px;
}

.clearfix:after{
	content: ".";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}


/* @end */

/* @group  Page Bottom */

#pagebottom {
	position: relative;
	width: 768px;
	height: 39px;
	margin-left: 16px;
	margin-right: 16px;
	background: transparent url(images/footerbgF4b.jpg) top no-repeat;
}

#footer {
	position: relative;
	margin: 0px auto;
	padding: 3px 0px 0px 0px;
	text-align: center;
	width: 800px;
	height: 40px;
	font-weight: normal;
	font-size: 10.5px;
	color: #555555;
	background: #FFFFFF url(images/BottomDS.png) no-repeat;
}

#footer p {
	font-size: 10.5px;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}

/* @end */


/* @group BANNER AD */

#bannerad {
}
	
/* @end */


/* @group NAV MENU */

/* Nav Menu Styles */

#navcontainer {
	width: 174px;
	font-size: 12px;
	text-align: left;
	margin-bottom: 10px;
	position: relative;
	margin-top: 4px;
}

#navcontainer #current {
	color: #0303f1;
	letter-spacing: .02em;
	font-weight: bold;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
	color: #555555;
	letter-spacing: .02em;
	text-decoration: none;
	font-weight: bold;
}

/* Parent - Level 0 */

#navcontainer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#navcontainer li {
	position: relative;
	border-bottom: 1px solid #bbbbbb;
	padding: 0px;
}

#navcontainer a{
	display: block;
	padding: 2px 5px 2px 5px;
	width: 164px;
	/* subtract <a> left/right padding from final desired width (see #navcontainer width above) */
	text-decoration: none;
	font-size: 11px;
	letter-spacing: .02em;
	color: #555555;
	
}

#navcontainer a:hover {
	background-color: #dddddd;
	color: #0303f1;
	text-decoration: none;
}

#navcontainer a:active {
	background-color: #dddddd;
	color: #0303f1;
	text-decoration: none;
}

/* Child - Level 1 */

#navcontainer ul ul {
	text-align: left;
}

#navcontainer ul ul li {
	border-bottom: none;
}

#navcontainer ul ul a {
	width: 139px;
	padding-left: 16px;
	margin-left: 13px;
	color: #555555;
	background: url(images/sub_menu.gif) left center no-repeat;
}

#navcontainer ul ul a:hover{
	background: url(images/sub_menu.gif) left center no-repeat;
	color: #0303f1;
	text-decoration: none;
}

#navcontainer ul ul #current{
	background: url(images/sub_menu.gif) left center no-repeat;
	color: #0303f1;
	text-decoration: none;
	font-weight: bold;
}

#navcontainer ul ul #current:hover {
	background: url(images/sub_menu.gif) left center no-repeat;
	color: #0303f1;
	text-decoration: underline;
	font-weight: bold;
}

#navcontainer ul ul .currentAncestor {
	background: #eeeeee;
	color: #0303f1;
	text-decoration: none;
	font-weight: bold;
}

#navcontainer ul ul .currentAncestor:hover {
}


/* Child - Level 2 */

#navcontainer ul ul ul {
	text-align: left;

}

#navcontainer ul ul ul li {
	border-bottom: none; 
}

#navcontainer ul ul ul a{
	width: 122px;
	padding-left: 16px;
	margin-left: 30px;
	color: #555555;
	background: url(images/sub_menu.gif) left center no-repeat;
}

#navcontainer ul ul ul a:hover{
	background: url(images/sub_menu.gif) left center no-repeat;
	color: #0303f1;
	text-decoration: none;
}

#navcontainer ul ul ul #current{
	background: url(images/sub_menu.gif) left center no-repeat;
	color: #0303f1;
	text-decoration: none;
	font-weight: bold;
}


/* @end */


/* @group BLOG */

/* @group Blog Entry */

.blog-entry {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #555555;
}

.blog-entry-title {
	color: #0303f1;
	font-size: 17px;
	font-weight: bold;
	margin-top: 2px;
	padding-top: 4px;
	margin-bottom: 3px;
}

.blog-entry-title a:link, a:visited {
	text-decoration: none;	
}

.blog-entry-title a:hover, a:active {
	text-decoration: underline;	
}

.blog-entry-date {
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	color: #555555;
	padding-top: 4px;
	padding-bottom: 8px;
}

.blog-entry img {
}

.blog-read-more {
	font-size: 11px;
	margin-top: 6px;
	padding: 0px;
	font-style: normal;
}

.blog-read-more a {
	font-size: 11px;
	padding: 0px;
	font-style: normal;
}

.blog-read-more a:hover {
	font-size: 11px;
	padding: 0px;
	font-style: normal;
}

.blog-entry-summary {
	margin-bottom: 10px;	
}

.blog-entry-body {
	margin-bottom: 8px;
	text-align: justify;
	line-height: 1.4em;
	color: #333333;
}

.blog-entry-comments {
	font-size: 10px;
	font-weight: normal;
	color: #555555;
	text-transform: uppercase;
	margin: 5px 0px 0px 0px;
	padding-bottom: 10px;
}

.blog-entry-comments a {
}

.blog-entry-comments-inline {
	font-size: 10.5px;
	line-height: 1.4em;
	font-weight: normal;
	color: #555555;
	text-align:  left;
	margin-top: 5px;
	padding-bottom: 10px;
}

p.blog-entry-tags {
	font-size: 11.5px;
	line-height: 1.4em;
	text-align:  left;
	margin-top: 8px;
	padding-left: 20px;
	font-style: normal;
	background: transparent url(images/tag_gray.png) top left no-repeat;
}

/*styles the category link in the main entry */
.blog-entry-category {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

.blog-entry-body {
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 10px;
	line-height: 1.5em
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	margin-top: 12px;
	margin-bottom: 10px;
}

.blog-category-link-enabled {
}

.blog-category-link-disabled {
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
	margin-bottom: 10px;
}

a.blog-rss-link {
	background: url(images/rss_icon.gif) no-repeat left center;
	padding-left: 16px;
	display: block;
	float: left;
}

a.blog-comments-rss-link {
	background: url(images/rss_icon.gif) no-repeat left center;
	padding-left: 16px;
	display: block;
	float: left;
}

/* @end */

/* @group Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0 0 10px 0;
	padding: 0;
	text-align: left;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

/* @group Blog Archive */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 20px;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid #555555;
	margin-bottom: 20px;
	padding-bottom: 6px;
}

.blog-archive-month {
	color: #0303f1;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 5px;
}

.blog-archive-link {
	color: #0303f1;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 12px;
}

.blog-archive-link a:link, .blog-archive-link a:visited {
}

/* @end */

/* @end */


/* @group FILE SHARING */

.filesharing-description {
	margin-bottom: 16px;
	padding-bottom: 12px;
	color: #333;
	font-size: 11px;
	line-height: 1.4em;
	border-bottom: 1px dashed #555555;
}

.filesharing-item {
	margin-top: 3px;
	margin-bottom: 14px;
	border-bottom: 1px dashed #555555;
}

.filesharing-item-title {
	font-size: 15px;
	margin-bottom: 5px;
	padding-bottom: 2px;
	font-weight: normal;
	text-decoration: none;
	color: #0303f1;
}

.filesharing-item-description {
	margin-bottom: 10px;
	padding-bottom: 4px;
	color: #333333;
	font-size: 11px;
	line-height: 1.4em;
}

/* @end */

/* @group PHOTO ALBUM */

/* @group Index Page (Thumbnail view) */

.album-title {
	margin: 6px 0px 8px 0px;
	font-size: 24px;
	font-weight: bold;
	color: #0303f1;
}

.album-description {
	padding: 10px 0 10px 0;
	color: #333333;
	margin: 2px 0px 80px 0px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
	z-index: 3;
}

.thumbnail-wrap {
	position: relative;
	float: left;
	text-align: center;
	padding-right: 10px;
	margin-bottom: 30px;
	margin-right: 12px;
	z-index: 5;
}

html>body .thumbnail-wrap {
	padding-right: 0px;
	margin-bottom: 60px;
	margin-right: 24px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0px;
    left: 0px;
}

.thumbnail-frame a {	
}

.thumbnail-frame a:hover {	
	background: transparent;
}

.thumbnail-frame img {
	margin: 0px;
	padding: 4px;
	border: 1px solid #555555;
}

.thumbnail-caption {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
	display: block;
	color: #333333;
	font-size: 11px;
}

/* @end */


/* @group Single Page (Photo view) */

.photo-background {
	text-align: center;
	margin: 0px;
	background: url(images/MiddleDS.png) top center repeat-y;
}

.photo-navigation {
	position: relative;
	display: block;
	text-align: center;
	margin: 0px auto;
	margin-top: 6px;
	margin-bottom: 24px;
	width: 768px;
	height: 100px;
	background: #ffffff url(images/blueBG.jpg) repeat-x;
}

html>body .photo-navigation {
	margin-top: -6px;
	margin-bottom:  48px;
}

.photo-links {
	font-size: 13px;
	padding: 12px 10px 0px 10px;
	margin-bottom: 30px;
}

html>body .photo-links {
	padding:  12px 10px 16px 10px;
}

.photo-navigation a {
	font-size: 13px;
}

.photo-navigation a:hover {
	font-size: 13px;
}

.photo-frame {
	margin: 0px auto;
	margin-top: -20px;
	border: 10px solid #ffffff;
}

html>body .photo-frame {
	margin-top: 0px;
}

.photo-title {
	margin-top: 12px;
	margin-bottom: 14px;
	padding-top: 12px;
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
}

html>body .photo-title {
	padding-top: 24px;
}

.photo-caption {
	font-size: 16px;
	line-height: 1.5em;
	letter-spacing: .25px;
	margin: 0px 0px 20px 0px;
	color: #ffffff;
}

/* @end */

/* @end */

/* @group Quicktime-Movie Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	margin-top: 6px;
	font-size: 24px;
	font-weight: bold;
	color: #0303f1;
	text-align: left;
}

.movie-page-description {
	padding-top: 10px;
	color: #333333;
	margin: 2px 0px 30px 0px;
}

.movie-thumbnail-frame {
	position: relative;
	width: 132px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 0px 10px 0px 0px;
	z-index: 45;
}

html>body .movie-thumbnail-frame {
	margin-right: 20px;
	margin-bottom: 20px;
}

.movie-thumbnail-frame img {
	margin: 0px;
	border: 4px solid #ffffff;
}

.movie-thumbnail-frame a {
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-caption {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
	display: block;
	color: #333333;
	font-size: 11px;
}

/* @end */

/* @end */


/* @group Single Page (Movie View) */

.movie-background {
	text-align: center;
	margin: 15px;
	background-color: #EBEBEB;
}

.movie-title {
	margin-top: 10px;
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #0303f1;
	text-align: center;
}

.movie-frame {
	text-align: center;
	margin: 0px 0px 14px 0px;
	border: 0px;
}

/* @end */

/* @group Quicktime Page */

.movie-title {
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
	color: #0303f1;
	margin: 15px 0px 7px 0px;
}

.movie-description {
	margin-top: 10px;
	margin-bottom: 12px;
	font-size: 12px;
	color: #555555;
}

.movie-frame {
	text-align: center;
	margin: 0px 0px 10px 0px;
	border: 0px;
}

/* @end */


/* @group CONTACT FORM */

.message-text { 
	margin-bottom: 0px;
	padding: 2px 6px 10px 6px;
} 

.required-text {
} 

.form-input-field {
	color: #555555;
	background-color: #ffffff;
	border: 1px solid #555555;
} 

.form-input-button { 
}
 
/* @end */


