/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' fontsize_default.css
  Created: 29 August, 2006
  Last Modified: 21 August, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

body {
	font-size: 12px;
	line-height: 19px;
}

blockquote, .standout {
	font-size: 13px;
	line-height: 1.5em;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 17px;
}

h3 {
	font-size: 15px;
}

h4 {
	font-size: 13px;
}

#pageheader h1 {
	padding: 23px 0px 3px 36px;
	font-size: 28px;
}

#pageheader h2 {
	padding: 4px 0px 0px 36px;
	font-size: 13px;
}

#innercontainer table {
	font-size: 12px;
}

#footer {
	font-size: 10px;
}

#navcontainer a {
	font-size: 11px;
}

.blog-entry-title {
	font-size: 17px;
}

.blog-entry-date {
	font-size: 13px;
}

.blog-read-more {
	font-size: 11px;
}

.blog-read-more a {
	font-size: 11px;
}

.blog-read-more a:hover {
	font-size: 11px;
}

.blog-entry-comments {
	font-size: 10px;
}

.blog-archive-month {
	font-size: 14px;
}

.blog-archive-link {
	font-size: 12px;
}

.filesharing-description {
	font-size: 11px;
}

.filesharing-item-title {
	font-size: 15px;
}

.filesharing-item-description {
	font-size: 11px;
}

.album-title {
	font-size: 24px;
}

.thumbnail-caption {
	font-size: 11px;
}

.photo-links {
	font-size: 13px;
}

.photo-navigation a {
	font-size: 13px;
}

.photo-navigation a:hover {
	font-size: 13px;
}

.photo-title {
	font-size: 24px;
}

.photo-caption {
	font-size: 16px;
}

.movie-page-title {
	font-size: 24px;
}

.movie-thumbnail-caption {
	font-size: 11px;
}

.movie-title {
	font-size: 18px;
}

.movie-title {
	font-size: 16px;
}

.movie-description {
	font-size: 12px;
}
