/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' bodybg_06.css
  Created: 21 August, 2007
  Last Modified: 19 September, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

body {
	background:  #d2e0ad;
}

#container {
	background: repeat-y url(../../images/MiddleDS.png);
}

* html #container {
	background: repeat-y url(../../images/MiddleDSd2e0ad.jpg);
}

#topds {
	background: #d2e0ad url(../../images/TopDS.png) no-repeat;
}

#footer {
	background: #d2e0ad url(../../images/BottomDS.png) no-repeat;
}

.photo-background {
	text-align: center;
	margin: 0px;
	background: #d2e0ad url(../../images/MiddleDS.png) top center repeat-y;
}