/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' sidebar_hide.css
  Created: 3 September, 2006
  Last Modified: 21 August, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/


#pageheaderbottom {
	background-image: url(../../images/contenttopbgF4_NS.png);
}

#mainarea {
	background-image: url(../../images/contentbgF4_NS.png);
}

#sidebarContainer {
	display: none;
}

#contentContainer {
	float: right;
	width: 743px;
	margin-top: -5px;
	margin-right: 3px;
	z-index: 5;
}

html>body #contentContainer {
	float: right;
	width: 759px;
	margin-top: -10px;
	margin-right: 6px;
}

#contentContainer #content {
	line-height: 1.8em;
	padding: 0px;
	margin: 0px 10px 10px 17px;
	width: 695px;
}

html>body #contentContainer #content {
	line-height: 1.8em;
	padding: 0px;
	margin: 0px 20px 10px 34px;
	width: 695px;
}

#pagebottom {
	background-image: url(../../images/footerbgF4_NS.png);
}

