/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' sidebar_show.css
  Created: 3 September, 2006
  Last Modified: 21 August, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/


#pageheaderbottom {
	background-image: url(../../images/contenttopbgF4.jpg);
}

#mainarea {
	background-image: url(../../images/contentbgF4.jpg);
}

#sidebarContainer {
	float: left;
	margin-left: 8px;
	padding: 3px 0px 3px 0px;
	width: 178px;
	background-color: transparent;
	text-align: center;
	overflow: visible;
	z-index: 20;
}

#contentContainer {
	float: right;
	width: 565px;
	margin-top: -5px;
	margin-right: 3px;
	z-index: 2;
}

html>body #contentContainer {
	float: right;
	width: 581px;
	margin-top: -10px;
	margin-right: 6px;
}

#contentContainer #content {
	line-height: 1.8em;
	padding: 0px;
	margin: 0px 15px 10px 9px;
	width: 523px
}

html>body #contentContainer #content {
	line-height: 1.8em;
	padding: 0px;
	margin: 0px 15px 10px 18px;
	width: 532px
}

#pagebottom {
	background: transparent url(../../images/footerbgF4b.jpg) top no-repeat;
}

