/* 
  -------------------------------------------------------
  File:'Blueball Shadow Colors 36' georgia.css
  Created: 29 August, 2006
  Last Modified: 21 August, 2007
  Author: Charlie Lockhart, Blueball Design
  www.blueballdesign.com
  Email: themes@blueballdesign.com
  Copyright 2005/2006/2007 Charlie Lockhart/Blueball Design USA
  All Rights Reserved
  -------------------------------------------------------
*/

body {
	font-family: Georgia, "Times New Roman", Times, serif;
}